.footer__column-heading {
    color: white;
    outline: none;
    text-decoration: none;
    border-bottom:none;  
    font-weight: 600;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 20px;
  }